@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Apple SD Gothic Neo;
}

html {
  font-size: 10px;

  @media screen and (max-width: 374px) {
    font-size: 8px;
  }
}


body {
  max-width: 560px;
  height: 100vh;
  margin: 0 auto;
}
